In [6]:
import pandas as pd
import numpy as np
import time

# On-time Performance Pre-precessing
- Load original 12 datasets
- Devide dataset into "CANCLE" and "NOT_CANCLE"
- "Float" to "Int"

## Load Original 12 datasets

In [11]:
%%time
airline1 = pd.read_csv("201901_time.csv")
airline2 = pd.read_csv("201902_time.csv")
airline3 = pd.read_csv("201903_time.csv")
airline4 = pd.read_csv("201904_time.csv")
airline5 = pd.read_csv("201905_time.csv")
airline6 = pd.read_csv("201906_time.csv")
airline7 = pd.read_csv("201807_time.csv")
airline8 = pd.read_csv("201808_time.csv")
airline9 = pd.read_csv("201809_time.csv")
airline10 = pd.read_csv("201810_time.csv")
airline11 = pd.read_csv("201811_time.csv")
airline12 = pd.read_csv("201812_time.csv")
# data_dictionary = pd.read_csv("On_time_README.csv")

CPU times: user 8.56 s, sys: 1.14 s, total: 9.7 s
Wall time: 7.79 s

In [13]:
%%time
airlines = pd.concat([airline1
                     ,airline2
                     ,airline3
                     ,airline4
                     ,airline5
                     ,airline6
                     ,airline7
                     ,airline8
                     ,airline9
                     ,airline10
                     ,airline11
                     ,airline12], ignore_index=True)

print(airlines.shape)

(7306180, 15)
CPU times: user 764 ms, sys: 527 ms, total: 1.29 s
Wall time: 728 ms

In [14]:
airlines.head(3)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DISTANCE
0,2019,1,1,19,6,1556,1546.0,-10.0,0.0,1857,1832.0,-25.0,0.0,0.0,596.0
1,2019,1,1,20,7,1556,1552.0,-4.0,0.0,1902,1825.0,-37.0,0.0,0.0,596.0
2,2019,1,1,21,1,1556,1547.0,-9.0,0.0,1902,1845.0,-17.0,0.0,0.0,596.0

### Devided into "CANCELL" & "NOT CANCELL"

In [16]:
%%time

def devideCANCELL(filename):
    filename = filename.drop_duplicates()
    
    filename_cancell = filename[(filename['DEP_TIME'].isna() == True) &
                                (filename['ARR_TIME'].isna() == True) & 
                                (filename['CANCELLED'] == 1.0)]
    
    filename_not_cancell = filename [(filename['DEP_TIME'].isna() == False) &
                                     (filename['ARR_TIME'].isna() == False) & 
                                     (filename['CANCELLED'] == 0.0)]
    filename_not_cancell = filename_not_cancell.dropna()
    
    
    filename_cancell.reset_index(drop=True,inplace=True) 
    filename_not_cancell.reset_index(drop=True,inplace=True) 

    print(filename_cancell.shape, filename_not_cancell.shape)
    return filename_cancell, filename_not_cancell

airlines_cancell, airlines_not_cancell = devideCANCELL(airlines)

(129528, 15) (7150612, 15)
CPU times: user 7.65 s, sys: 2.5 s, total: 10.2 s
Wall time: 9.04 s

### Float to Int

In [17]:
%%time

def float_To_int(filename, floatColumn):

    length = len(floatColumn)
    for i in range(length):
        column = floatColumn[i]
        filename[column] = filename[column].astype('int')
    return filename


floatColumn = ['DEP_TIME', 'DEP_DELAY', 'DEP_DEL15',
               'ARR_TIME', 'ARR_DELAY', 'ARR_DEL15',
               'CANCELLED', 'DISTANCE']

# new_airline1_not_cancell[new_airline1_not_cancell['ARR_DELAY'].isna()==True]
# new_airline1_not_cancell.head()

airlines_not_cancell = float_To_int(airlines_not_cancell, floatColumn)
print(airlines_not_cancell.shape)

(7150612, 15)
CPU times: user 1.04 s, sys: 541 ms, total: 1.58 s
Wall time: 809 ms

# Dataset Before group by

In [18]:
%%time

# 合并出date

df = pd.DataFrame({'year': airlines_not_cancell['YEAR'].values.tolist(), 
                   'month': airlines_not_cancell['MONTH'].values.tolist(), 
                   'day': airlines_not_cancell['DAY_OF_MONTH'].values.tolist()} )
airlines_not_cancell['DATE'] = pd.to_datetime(df).to_frame()


print(airlines_not_cancell.shape)
airlines_not_cancell

(7150612, 16)
CPU times: user 6.23 s, sys: 981 ms, total: 7.22 s
Wall time: 7.07 s

In [20]:
airlines_not_cancell

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DISTANCE,DATE
0,2019,1,1,19,6,1556,1546,-10,0,1857,1832,-25,0,0,596,2019-01-19
1,2019,1,1,20,7,1556,1552,-4,0,1902,1825,-37,0,0,596,2019-01-20
2,2019,1,1,21,1,1556,1547,-9,0,1902,1845,-17,0,0,596,2019-01-21
3,2019,1,1,22,2,1556,1552,-4,0,1902,1839,-23,0,0,596,2019-01-22
4,2019,1,1,23,3,1556,1550,-6,0,1902,1850,-12,0,0,596,2019-01-23
5,2019,1,1,24,4,1556,1617,21,1,1902,1905,3,0,0,596,2019-01-24
6,2019,1,1,25,5,1556,1601,5,0,1902,1842,-20,0,0,596,2019-01-25
7,2019,1,1,26,6,1556,1554,-2,0,1857,1851,-6,0,0,596,2019-01-26
8,2019,1,1,27,7,1556,1550,-6,0,1902,1832,-30,0,0,596,2019-01-27
9,2019,1,1,28,1,1556,1934,218,1,1902,2251,229,1,0,596,2019-01-28
10,2019,1,1,29,2,1556,1556,0,0,1902,1838,-24,0,0,596,2019-01-29
11,2019,1,1,30,3,1556,1627,31,1,1902,1911,9,0,0,596,2019-01-30
12,2019,1,1,31,4,1556,1622,26,1,1902,1913,11,0,0,596,2019-01-31
13,2019,1,1,1,2,1122,1155,33,1,1251,1259,8,0,0,297,2019-01-01
14,2019,1,1,5,6,601,556,-5,0,957,947,-10,0,0,1183,2019-01-05
15,2019,1,1,6,7,700,652,-8,0,1059,1059,0,0,0,1183,2019-01-06
16,2019,1,1,7,1,601,554,-7,0,1000,955,-5,0,0,1183,2019-01-07
17,2019,1,1,8,2,601,551,-10,0,1000,936,-24,0,0,1183,2019-01-08
18,2019,1,1,9,3,601,556,-5,0,1000,942,-18,0,0,1183,2019-01-09
19,2019,1,1,10,4,601,552,-9,0,1000,950,-10,0,0,1183,2019-01-10
20,2019,1,1,11,5,601,551,-10,0,1000,952,-8,0,0,1183,2019-01-11
21,2019,1,1,12,6,601,558,-3,0,957,943,-14,0,0,1183,2019-01-12
22,2019,1,1,13,7,700,651,-9,0,1059,1025,-34,0,0,1183,2019-01-13
23,2019,1,1,14,1,601,552,-9,0,1000,945,-15,0,0,1183,2019-01-14
24,2019,1,1,15,2,601,556,-5,0,1000,956,-4,0,0,1183,2019-01-15
25,2019,1,1,16,3,601,622,21,1,1000,1005,5,0,0,1183,2019-01-16
26,2019,1,1,17,4,601,557,-4,0,1000,933,-27,0,0,1183,2019-01-17
27,2019,1,1,18,5,601,555,-6,0,1000,1019,19,1,0,1183,2019-01-18
28,2019,1,1,19,6,601,603,2,0,957,931,-26,0,0,1183,2019-01-19
29,2019,1,1,20,7,700,650,-10,0,1059,1033,-26,0,0,1183,2019-01-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7150582,2018,4,12,14,5,936,932,-4,0,1052,1051,-1,0,0,270,2018-12-14
7150583,2018,4,12,14,5,1614,1605,-9,0,1909,1843,-26,0,0,1121,2018-12-14
7150584,2018,4,12,14,5,1752,1752,0,0,1914,1847,-27,0,0,680,2018-12-14
7150585,2018,4,12,14,5,933,929,-4,0,1131,1126,-5,0,0,749,2018-12-14
7150586,2018,4,12,14,5,1215,1215,0,0,1446,1436,-10,0,0,749,2018-12-14
7150587,2018,4,12,14,5,910,905,-5,0,1327,1334,7,0,0,1306,2018-12-14
7150588,2018,4,12,14,5,1416,1425,9,0,1640,1627,-13,0,0,1306,2018-12-14
7150589,2018,4,12,14,5,1721,1922,121,1,1850,2044,114,1,0,337,2018-12-14
7150590,2018,4,12,14,5,700,700,0,0,1018,1017,-1,0,0,2475,2018-12-14
7150591,2018,4,12,14,5,1801,1757,-4,0,2015,1954,-21,0,0,718,2018-12-14
7150592,2018,4,12,14,5,1426,1434,8,0,1421,1426,5,0,0,134,2018-12-14
7150593,2018,4,12,14,5,1354,1412,18,1,1501,1446,-15,0,0,669,2018-12-14
7150594,2018,4,12,14,5,1546,1541,-5,0,1906,1855,-11,0,0,669,2018-12-14
7150595,2018,4,12,14,5,545,543,-2,0,644,634,-10,0,0,106,2018-12-14
7150596,2018,4,12,14,5,710,707,-3,0,957,1000,3,0,0,859,2018-12-14
7150597,2018,4,12,14,5,730,729,-1,0,954,953,-1,0,0,946,2018-12-14
7150598,2018,4,12,14,5,1510,1507,-3,0,1604,1601,-3,0,0,588,2018-12-14
7150599,2018,4,12,14,5,1646,1641,-5,0,1939,1921,-18,0,0,588,2018-12-14
7150600,2018,4,12,14,5,2232,2320,48,1,623,706,43,1,0,2248,2018-12-14
7150601,2018,4,12,14,5,1155,1152,-3,0,1322,1310,-12,0,0,404,2018-12-14
7150602,2018,4,12,14,5,1420,1417,-3,0,1556,1610,14,0,0,404,2018-12-14
7150603,2018,4,12,14,5,1721,1727,6,0,2110,2044,-26,0,0,2105,2018-12-14
7150604,2018,4,12,14,5,1350,1348,-2,0,1652,1655,3,0,0,1127,2018-12-14
7150605,2018,4,12,14,5,1756,1800,4,0,2057,2041,-16,0,0,1127,2018-12-14
7150606,2018,4,12,14,5,1850,1849,-1,0,2130,2111,-19,0,0,2218,2018-12-14
7150607,2018,4,12,14,5,2125,2119,-6,0,2343,2326,-17,0,0,859,2018-12-14
7150608,2018,4,12,14,5,1248,1311,23,1,1444,1455,11,0,0,594,2018-12-14
7150609,2018,4,12,14,5,2336,13,37,1,2329,2359,30,1,0,134,2018-12-14
7150610,2018,4,12,14,5,600,602,2,0,859,855,-4,0,0,859,2018-12-14
7150611,2018,4,12,14,5,959,958,-1,0,1005,1019,14,0,0,214,2018-12-14

## Deal with Hour

In [21]:
%%time

# 把hhmm分离成hh mm两列


def hhmmTo(filename):
    filename['CRS_DEP_HOUR'] = np.floor(filename['CRS_DEP_TIME'].values / 100).astype('int')
    filename['CRS_DEP_MIN'] = filename['CRS_DEP_TIME'].values % 100
    filename['ACT_DEP_HOUR'] = np.floor(filename['DEP_TIME'].values / 100).astype('int')
    filename['ACT_DEP_MIN'] = filename['DEP_TIME'].values % 100
    
    filename['CRS_ARR_HOUR'] = np.floor(filename['CRS_ARR_TIME'].values / 100).astype('int')
    filename['CRS_ARR_MIN'] = filename['CRS_ARR_TIME'].values % 100
    filename['ACT_ARR_HOUR'] = np.floor(filename['ARR_TIME'].values / 100).astype('int')
    filename['ACT_ARR_MIN'] = filename['ARR_TIME'].values % 100
    
    filename = filename.drop(columns=['CRS_DEP_TIME', 'DEP_TIME', 'CRS_ARR_TIME', 'ARR_TIME'])
    
    return filename

airlines_not_cancell = hhmmTo(airlines_not_cancell)

CPU times: user 2.29 s, sys: 1.29 s, total: 3.57 s
Wall time: 2.53 s

In [22]:
print(airlines_not_cancell.shape)
airlines_not_cancell.head()

(7150612, 20)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DEP_DELAY,DEP_DEL15,ARR_DELAY,ARR_DEL15,CANCELLED,DISTANCE,DATE,CRS_DEP_HOUR,CRS_DEP_MIN,ACT_DEP_HOUR,ACT_DEP_MIN,CRS_ARR_HOUR,CRS_ARR_MIN,ACT_ARR_HOUR,ACT_ARR_MIN
0,2019,1,1,19,6,-10,0,-25,0,0,596,2019-01-19,15,56,15,46,18,57,18,32
1,2019,1,1,20,7,-4,0,-37,0,0,596,2019-01-20,15,56,15,52,19,2,18,25
2,2019,1,1,21,1,-9,0,-17,0,0,596,2019-01-21,15,56,15,47,19,2,18,45
3,2019,1,1,22,2,-4,0,-23,0,0,596,2019-01-22,15,56,15,52,19,2,18,39
4,2019,1,1,23,3,-6,0,-12,0,0,596,2019-01-23,15,56,15,50,19,2,18,50

In [24]:
# [column for column in airlines_not_cancell]
# airlines_not_cancell.columns.values   # 返回array
list(airlines_not_cancell)

['YEAR',
 'QUARTER',
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'DEP_DELAY',
 'DEP_DEL15',
 'ARR_DELAY',
 'ARR_DEL15',
 'CANCELLED',
 'DISTANCE',
 'DATE',
 'CRS_DEP_HOUR',
 'CRS_DEP_MIN',
 'ACT_DEP_HOUR',
 'ACT_DEP_MIN',
 'CRS_ARR_HOUR',
 'CRS_ARR_MIN',
 'ACT_ARR_HOUR',
 'ACT_ARR_MIN']

In [25]:
airlines_not_cancell = airlines_not_cancell.reindex(columns=['DATE',
                                                             'YEAR',
                                                             'QUARTER',
                                                             'MONTH',
                                                             'DAY_OF_MONTH',
                                                             'DAY_OF_WEEK',
                                                             'CRS_DEP_HOUR',
                                                             'CRS_DEP_MIN',
                                                             'ACT_DEP_HOUR',
                                                             'ACT_DEP_MIN',
                                                             'DEP_DELAY',
                                                             'DEP_DEL15',
                                                             'CRS_ARR_HOUR',
                                                             'CRS_ARR_MIN',
                                                             'ACT_ARR_HOUR',
                                                             'ACT_ARR_MIN',
                                                             'ARR_DELAY',
                                                             'ARR_DEL15',
                                                             'CANCELLED',
                                                             'DISTANCE'])

In [26]:
airlines_not_cancell.head()

,DATE,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,CRS_DEP_HOUR,CRS_DEP_MIN,ACT_DEP_HOUR,ACT_DEP_MIN,DEP_DELAY,DEP_DEL15,CRS_ARR_HOUR,CRS_ARR_MIN,ACT_ARR_HOUR,ACT_ARR_MIN,ARR_DELAY,ARR_DEL15,CANCELLED,DISTANCE
0,2019-01-19,2019,1,1,19,6,15,56,15,46,-10,0,18,57,18,32,-25,0,0,596
1,2019-01-20,2019,1,1,20,7,15,56,15,52,-4,0,19,2,18,25,-37,0,0,596
2,2019-01-21,2019,1,1,21,1,15,56,15,47,-9,0,19,2,18,45,-17,0,0,596
3,2019-01-22,2019,1,1,22,2,15,56,15,52,-4,0,19,2,18,39,-23,0,0,596
4,2019-01-23,2019,1,1,23,3,15,56,15,50,-6,0,19,2,18,50,-12,0,0,596

# GROUP BY 'DAY_OF_WEEK'

In [27]:
airlines_not_cancell.groupby(['DAY_OF_WEEK']).mean()[['DEP_DELAY','ARR_DELAY']]

             DEP_DELAY  ARR_DELAY
DAY_OF_WEEK
1            11.817898   6.926590
2             9.643563   4.792589
3             8.999216   4.405981
4            12.037672   7.875691
5            12.479674   8.211878
6             9.735831   4.110822
7            11.106365   6.002995

# GROUP BY 'DAY_OF_MONTH'

In [28]:
gbDay = airlines_not_cancell.groupby(['DAY_OF_MONTH']).mean()[['DEP_DELAY','ARR_DELAY']]
gbDay.to_csv('gbDay.csv')
gbDay

              DEP_DELAY  ARR_DELAY
DAY_OF_MONTH
1             11.649856   6.952170
2             11.569085   7.310055
3             10.014470   5.179218
4              7.419790   1.655561
5              8.245496   3.161667
6              9.178025   4.568255
7             10.118390   5.856709
8             11.420549   6.732261
9             12.982222   8.686702
10            10.688062   5.828265
11            10.265293   5.493913
12            10.503631   6.504924
13            12.039717   7.575184
14            11.892993   7.164165
15            12.709953   8.285119
16            10.865503   5.757657
17             9.999791   5.082537
18            10.863232   6.064839
19            12.022446   7.429540
20            14.352827  10.508168
21            13.356116   8.682464
22            10.800468   5.291067
23            10.714137   5.670019
24             9.819384   4.642527
25            10.362974   5.296771
26            11.371999   7.049107
27            10.999227   6.119896
28            10.954182   5.987939
29            10.237103   5.079987
30             8.921872   3.786608
31            10.413990   5.739589

# GROUP BY 'MONTH'

In [29]:
gbMonth = airlines_not_cancell.groupby(['MONTH']).mean()[['DEP_DELAY','ARR_DELAY']]
gbMonth.to_csv('gbMonth.csv')
gbMonth

       DEP_DELAY  ARR_DELAY
MONTH
1       9.679950   4.257580
2      13.259267   8.729742
3       9.081597   3.288880
4      10.564494   4.853120
5      12.000264   7.052453
6      15.810052  11.741287
7      13.552482   9.111425
8      13.643788   9.741617
9       7.298702   2.772140
10      6.933967   2.824604
11      9.397728   5.260444
12      8.937269   3.345728

# GROUP BY DATE

In [30]:
gbDate = airlines_not_cancell.groupby(['DATE'])

gbDate_mean = gbDate.mean()[['DEP_DELAY','ARR_DELAY']]
gbDate_mean.rename(columns={'DEP_DELAY':'DEP_MEAN', 'ARR_DELAY':'ARR_MEAN'}, inplace=True)

gbDate_min = gbDate.min()[['DEP_DELAY','ARR_DELAY']]
gbDate_min.rename(columns={'DEP_DELAY':'DEP_MIN', 'ARR_DELAY':'ARR_MIN'}, inplace=True)

gbDate_max = gbDate.max()[['DEP_DELAY','ARR_DELAY']]
gbDate_max.rename(columns={'DEP_DELAY':'DEP_MAX', 'ARR_DELAY':'ARR_MAX'}, inplace=True)

gbDate_result = pd.concat([gbDate_mean, gbDate_min, gbDate_max], axis=1)
gbDate_result.to_csv('gbDate.csv')

gbDate_result

             DEP_MEAN   ARR_MEAN  DEP_MIN  ARR_MIN  DEP_MAX  ARR_MAX
DATE
2018-07-01  10.013875   3.728132      -27      -73     1422     1421
2018-07-02   8.762289   2.842313      -40      -65      895      896
2018-07-03   8.187020   2.561920      -33      -77     1140     1137
2018-07-04   5.734912   0.773329      -35      -64     1240     1299
2018-07-05  10.427498   6.574729      -30      -88     2710     2692
2018-07-06  15.454759  12.105203      -35      -63     1295     1263
2018-07-07   6.271843  -1.166568      -32      -82     1227     1198
2018-07-08   7.546785   0.878382      -32      -76     1182     1194
2018-07-09  11.340968   5.371229      -29      -80     1283     1373
2018-07-10   9.484631   3.572293      -31      -71     1103     1107
2018-07-11   7.018597   1.380188      -44      -71     1122     1145
2018-07-12  12.347620   8.489179      -28      -61     1016     1024
2018-07-13   7.214112   1.318989      -29      -77     1230     1216
2018-07-14   7.185483   0.897962      -33      -78     1106     1101
2018-07-15  19.024011  15.301578      -37      -58     1233     1225
2018-07-16  17.668558  15.004884      -37      -60     1142     1137
2018-07-17  20.996827  17.082995      -47      -72     1254     1253
2018-07-18   9.040886   3.276338      -25      -57      842      831
2018-07-19  13.118010   9.561488      -29      -75     1159     1169
2018-07-20  19.242216  17.165712      -27      -64     1234     1270
2018-07-21  13.936792   9.408630      -34      -75      971      962
2018-07-22  20.527865  18.714460      -29      -58     1237     1240
2018-07-23  27.189838  24.382434      -40      -55     1861     1861
2018-07-24  20.718275  17.158746      -25      -52     1603     1594
2018-07-25  17.581650  15.159886      -31      -58     1437     1421
2018-07-26  12.582059   8.135572      -44      -61     1162     1148
2018-07-27  18.845143  15.674971      -36      -66     1330     1328
2018-07-28  12.317944   6.629954      -27      -61     1148     1144
2018-07-29  15.618749  11.086994      -30      -61     1518     1523
2018-07-30  12.620234   9.245379      -33      -68      963      940
...               ...        ...      ...      ...      ...      ...
2019-06-01  11.661554   6.767043      -32      -52     1389     1422
2019-06-02  13.745919   9.472945      -25      -56     1439     1422
2019-06-03   7.955707   1.860474      -28      -60     1443     1467
2019-06-04   4.700990  -1.009800      -39      -64     1259     1267
2019-06-05  13.060294  10.199250      -29      -56     1249     1234
2019-06-06  10.317286   5.072789      -32      -68     1253     1256
2019-06-07  11.019050   6.759456      -30      -79     1261     1267
2019-06-08  22.969254  18.436703      -24      -58     1751     1737
2019-06-09  24.520136  19.967753      -26      -66     1434     1428
2019-06-10  22.122373  18.423606      -27      -53     2058     2041
2019-06-11  13.205105   7.691007      -29      -61     1186     1198
2019-06-12  11.771214   7.795876      -31      -62     1440     1439
2019-06-13  15.676552  12.746635      -25      -51     1287     1280
2019-06-14   9.419041   3.935469      -45      -65     1170     1176
2019-06-15  12.815256   8.757317      -27      -56     1546     1589
2019-06-16  22.495778  20.695311      -26      -60     1460     1458
2019-06-17  19.881886  16.153501      -26      -64     1224     1200
2019-06-18  19.761388  17.018799      -27      -50     1257     1250
2019-06-19  20.373934  18.735952      -32      -63     1099     1076
2019-06-20  24.367337  21.931553      -34      -50     1315     1316
2019-06-21  18.409976  14.045323      -37      -62     1111     1091
2019-06-22  12.598786   7.481446      -26      -62     1466     1458
2019-06-23  17.905214  14.953527      -26      -57     1226     1219
2019-06-24  17.084783  13.608529      -32      -54     1405     1405
2019-06-25  18.848048  14.479922      -29      -59     1224     1242
2019-06-26  10.793873   6.217213      -28      -65     1411     1421
2019-06-27  13.003883   8.873692      -82      -67     1188     1178
2019-06-28  14.474023  10.258168      -26      -66     1669     1654
2019-06-29  21.010681  17.374421      -27      -53     1839     1844
2019-06-30  19.974286  14.991080      -34      -76     1568     1546

[365 rows x 6 columns]